body, body * {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Montserrat';
}

body {
  background: #ecf0f1;
  padding: 0 100px;
}

.bt {
  cursor: pointer;
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 3px;
  outline: 0;
  background: #27ae60;
  transition: background ease .3s;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.bt:hover {
  background: #2ecc71;
}

#mensaje {
  text-align: center;
  height: 60px;
}

#game {
  min-height: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-bottom: 100px;
}

input {
  padding: 10px;
  outline: 0;
}


#game > div {
  border: solid 2px #000;
  background: url('assets/bg.jpg');
  background-size: cover;
  transition: transform ease .2s;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

#game > div:hover {
  cursor: pointer;
  transform: scale(1.05);
}

img {
  width: 100%;
  border-radius: 5px;
  opacity: 0;
}

img.visible {
  opacity: 1;
  cursor: default;
  transform: scale(1.1);
}
