body, body * {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #ecf0f1;
  padding: 0 20px;
}

#info {
  text-align: center;
  padding-top: 100px;
  color: #2c3e50;

  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;

  user-select: none;
}

.bar, .controls {
  display: flex;
  padding: 50px 0;

  justify-content: space-around;
}

.bar > div {
  flex: .5;
  height: 50px;
}

.bar .one, .player_one {
  background: red;
}

.bar .two, .player_two {
  background: blue;
}

.controls > div {
  height: 150px;
  width: 150px;

  transition: transform ease .3s;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.controls > div:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#start {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;;
  outline: 0;
  border: 0;
  background: green;
  color: white;
  font-size: 1.2rem;
}
